    * {
        margin: 0;
        padding: 0;
    }
    
    .body {
        background-color: hsla(115, 94%, 50%, 0.596);
    }
    
    #titulo {
        text-align: center;
        background-color: rgba(255, 192, 203, 0.89);
        color: rgba(204, 7, 178, 0.877);
        text-shadow: 1px 2px 3px black;
    }
    
    .fondo {
        margin-left: 650px;
        width: 30%;
    }
    
    .fondo1 {
        margin-left: 650px;
        width: 30%;
    }
    
    #saludo {
        text-align: center;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(2, 0, 0);
        margin-left: -60px;
    }
    
    #saludo1 {
        width: 30%;
        text-align: center;
        font-size: 1.5em;
        margin-left: 650px;
        font-family: Californian FB;
    }
    
    @media (max-width: 980px) {
        .fondo {
            width: 50%;
            margin-left: 100px;
            box-shadow: 2px 3px 4px black;
        }
        #saludo {
            font-size: 20px;
            margin-left: -15px;
        }
        #saludo1 {
            font-size: 20px;
            margin-left: 5px;
            width: 90%;
        }
        .fondo1 {
            width: 50%;
            margin-left: 100px;
            box-shadow: 2px 3px 4px black;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }