    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .body {
        background-color: #ebcdc3;
    }
    
    #titulo {
        text-align: center;
        background-color: rgba(241, 15, 53, 0.384);
        color: rgb(204, 7, 178);
        text-shadow: 1px 2px 3px black;
    }
    
    .menu {
        margin-left: 750px;
        margin-top: -30px;
    }
    
    .menu li {
        display: inline;
    }
    
    .menu a {
        cursor: pointer;
    }
    
    .fondo {
        margin-top: 11px;
        width: 30%;
        margin-left: 325px;
    }
    
    #section {
        margin-left: 330px;
        color: rgba(24, 24, 112, 0.842);
    }
    
    #hola {
        margin-left: 60px;
    }
    
    #dis {
        margin-left: 26px;
    }
    
    #des {
        width: 60%;
        margin-left: -20px;
    }
    
    #fotocambia {
        width: 40%;
        margin-left: 290px;
    }
    
    #tra {
        display: none;
    }
    
    #logo {
        width: 5%;
        box-shadow: 3px 3px 5px gold;
    }
    
    #turnos {
        margin-top: 10px;
        font-size: 1.5em;
        text-decoration: underline;
    }
    
    #insta {
        width: 5%;
        margin-left: 460px;
        box-shadow: 1px 2px 2px red;
    }
    
    @media (max-width: 900px) {
        .fondo {
            width: 100%;
            margin-top: 0px;
            margin-left: 0px;
        }
        .menu {
            display: none;
        }
        #section {
            margin-left: 0px;
        }
        #hola {
            margin-left: 0px;
        }
        #dis {
            margin-left: 0px;
        }
        #des {
            margin-left: 0px;
            width: 100%;
        }
        #fotocambia {
            margin-left: 0px;
            width: 100%;
        }
        #section {
            margin-left: 0px;
            margin-right: 0px;
        }
        #tra {
            display: inline;
            padding: 5px;
            margin-left: 140px;
            margin-top: 5px;
            background-color: aquamarine;
            box-shadow: 1px 2px 3px red;
        }
        #tra a {
            text-decoration: none;
        }
        #logo {
            width: 10%;
        }
        #turnos {
            font-size: 1.0em;
        }
        .depi {
            width: 100%;
        }
        #espacio {
            margin-top: 10px;
        }
        .pa {
            color: rgba(24, 24, 112, 0.842);
            ;
        }
        #li {
            margin-left: 20px;
            color: rgba(255, 0, 140, 0.767);
        }
        #insta {
            width: 10%;
            margin-left: -200px;
            margin-top: 10px;
        }
        #espacio {
            text-decoration: underline;
            color: blue;
        }
    }