    * {
        margin: 0;
        padding: 0;
    }
    
    .body {
        background-color: #F5F5DC;
    }
    
    #titulo {
        position: relative;
        text-align: center;
        background-color: rgba(255, 192, 203, 0.247);
        color: rgba(204, 7, 178, 0.877);
        text-shadow: 1px 2px 3px black;
    }
    
    .menu {
        color: rgb(0, 0, 0);
        z-index: auto;
        margin-top: -35px;
        text-align: right;
        margin-right: 350px;
        margin-top: -40px;
        font-size: 30px;
    }
    
    .menu li {
        display: inline;
        padding: 5px;
        background-color: pink;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 4px red;
        position: relative;
    }
    
    .menu li:hover {
        color: blue;
    }
    
    .fondo {
        margin-left: 650px;
        width: 30%;
        box-shadow: 1px 2px 3px black;
        margin-top: 6px;
    }
    
    .fondo1 {
        margin-left: 650px;
        width: 30%;
        box-shadow: 1px 2px 3px black;
    }
    
    #saludo {
        text-align: center;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(68, 67, 155);
        margin-left: -60px;
    }
    
    #saludo1 {
        width: 30%;
        text-align: center;
        font-size: 1.5em;
        margin-left: 650px;
        font-family: Californian FB;
        color: rgb(68, 67, 155);
        ;
    }
    
    #fotocambia {
        width: 30%;
        margin-left: 650px;
        box-shadow: 1px 2px 3px black;
    }
    
    @media (max-width: 980px) {
        .fondo {
            margin-top: 0PX;
            width: 100%;
            margin-left: 0px;
            box-shadow: 2px 3px 4px black;
        }
        .menu {
            display: none;
        }
        #saludo {
            font-size: 20px;
            margin-left: -10px;
        }
        #saludo1 {
            font-size: 20px;
            margin-left: 10px;
            width: 90%;
        }
        #fotocambia {
            width: 100%;
            margin-left: 0PX;
            box-shadow: 1px 2px 3px black;
        }
    }